<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# concat

In [2]:
import pandas as pd
df1 = pd.DataFrame({'A':[1,2,3],
                    'B':[1,2,3]})
df2 = pd.DataFrame({'A':[4,5],
                    'B':[4,5]})

display(df1)
print('-'*10)
display(df2)

   A  B
0  1  1
1  2  2
2  3  3

----------

   A  B
0  4  4
1  5  5

In [6]:
print('ignore_index = True')
display(pd.concat([df1,df2],axis=0, ignore_index=True))
print('-'*10)
print('ignore_index = False')
display(pd.concat([df1,df2],axis=0, ignore_index=False))

ignore_index = True

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

----------
ignore_index = False

   A  B
0  1  1
1  2  2
2  3  3
0  4  4
1  5  5

In [20]:
df3 = pd.concat([df1,df2],axis=0, ignore_index=False)
df3.loc[1]

   A  B
1  2  2
1  5  5

In [29]:
# 연습
# 두개의 데이터프레임을 위 아래로 연결
# 새로운 통합 인덱스를 부여
import numpy as np

df1 = pd.DataFrame(np.arange(12).reshape(4,3),index=['a','b','c','d'])
df2 = pd.DataFrame(np.arange(12).reshape(4,3),index=['A','B','C','D'])

display(df1)
print('-'*20)
display(df2)

df3=pd.concat([df1,df2],axis=0,ignore_index=True)
print('-'*20)
df3

   0   1   2
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

--------------------

   0   1   2
A  0   1   2
B  3   4   5
C  6   7   8
D  9  10  11

--------------------

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11
4  0   1   2
5  3   4   5
6  6   7   8
7  9  10  11

In [30]:
import pandas as pd
df1 = pd.DataFrame({'A':[1,2,3],
                    'B':[1,2,3]})
df2 = pd.DataFrame({'C':[7,8,9]})

display(df1)
print('-'*10)
display(df2)

   A  B
0  1  1
1  2  2
2  3  3

----------

   C
0  7
1  8
2  9

In [32]:
print('ignore_index = True')
display(pd.concat([df1,df2],axis=1, ignore_index=True))
print('-'*10)
print('ignore_index = False')
display(pd.concat([df1,df2],axis=1, ignore_index=False))

ignore_index = True

   0  1  2
0  1  1  7
1  2  2  8
2  3  3  9

----------
ignore_index = False

   A  B  C
0  1  1  7
1  2  2  8
2  3  3  9

In [44]:
import pandas as pd
df1 = pd.DataFrame({'A':[1,2,3],
                    'B':[1,2,3]})
df2 = pd.DataFrame({'C':[7,8,9]})
df2.index = ['a','b','c']
df2

display(pd.concat([df1,df2],axis=1, ignore_index=False))
display(pd.concat([df1,df2],axis=0, ignore_index=False))

     A    B    C
0  1.0  1.0  NaN
1  2.0  2.0  NaN
2  3.0  3.0  NaN
a  NaN  NaN  7.0
b  NaN  NaN  8.0
c  NaN  NaN  9.0

     A    B    C
0  1.0  1.0  NaN
1  2.0  2.0  NaN
2  3.0  3.0  NaN
a  NaN  NaN  7.0
b  NaN  NaN  8.0
c  NaN  NaN  9.0

# merge

In [50]:
from pandas.core.reshape.merge import merge
import pandas as pd

df1 = pd.DataFrame({'직원':['김철수','박철수','김민수','이민수'],
                    '부서':['회계','데이터분석','데이터분석','인사']})
df2 = pd.DataFrame({'직원':['박철수','이민수','김민수','김철수'],
                    '입사년도':[2004,2008,2012,2014]})

display('df1 :',df1)
display('df2 :',df2)

merged_df = merge(df1,df2)
print('-'*20)
merged_df

'df1 :'

    직원     부서
0  김철수     회계
1  박철수  데이터분석
2  김민수  데이터분석
3  이민수     인사

'df2 :'

    직원  입사년도
0  박철수  2004
1  이민수  2008
2  김민수  2012
3  김철수  2014

--------------------

    직원     부서  입사년도
0  김철수     회계  2014
1  박철수  데이터분석  2004
2  김민수  데이터분석  2012
3  이민수     인사  2008

In [51]:
df3 = pd.DataFrame({'직원':['김철수','김민수','김철수','김민수'],
                    '부서':['인사','인사','데이터분석','데이터분석'],
                    '입사년도':[2004,2008,2010,2006]})
df4 = pd.DataFrame({'직원':['박철수','이민수','김민수','김철수'],
                    '입사년도':[2004,2008,2012,2014]})

In [104]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/sports.csv')
display(df1)
print('-'*20)
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/subject.csv')
display(df2)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키
9  김중교  10      축구

--------------------

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [111]:
df3 = merge(df1,df2,left_on=['이름','번호'],right_on=['성명','번호'])
display(df3)

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악
8  채관수   9      하키  채관수      미술
9  김중교  10      축구  김중교      역사

In [112]:
df3.drop('성명',axis=1,inplace=True)
df3

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [74]:
df2.columns = ['이름','번호','좋아하는 과목']

df4 = merge(df1,df2)
df4

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [128]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/sports.csv')
display(df1)
print('-'*20)
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/subject.csv')
display(df2)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키
9  김중교  10      축구

--------------------

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [129]:
df2.rename({'성명':'성함'},axis = 1,inplace=True) # 성명->성함
df2

    성함  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [130]:
df2.rename({'성함':'이름'}, axis= 1, inplace=True) # 성함 -> 이름
df3 = merge(df1,df2)
df3

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [126]:
import pandas as pd

df1 = pd.DataFrame({'직원':['김철수','박철수','김민수','이민수'],
                    '부서':['회계','데이터분석','데이터분석','인사']})
df2 = pd.DataFrame({'직원':['박철수','이민수','김민수','김철수'],
                    '입사년도':[2004,2008,2012,2014]})

display('df1 :',df1)
display('df2 :',df2)

'df1 :'

    직원     부서
0  김철수     회계
1  박철수  데이터분석
2  김민수  데이터분석
3  이민수     인사

'df2 :'

    직원  입사년도
0  박철수  2004
1  이민수  2008
2  김민수  2012
3  김철수  2014

In [131]:
df1 = pd.DataFrame({'key':[1,2,3],'x':[1,2,3]})
df2 = pd.DataFrame({'key':[2,3,4],'y':[2,3,4]})
display(df1)
print('-'*10)
display(df2)

   key  x
0    1  1
1    2  2
2    3  3

----------

   key  y
0    2  2
1    3  3
2    4  4

In [132]:
display(pd.merge(df1,df2, on='key',how='inner'))

   key  x  y
0    2  2  2
1    3  3  3

In [133]:
display(pd.merge(df1,df2, on='key',how='left'))

   key  x    y
0    1  1  NaN
1    2  2  2.0
2    3  3  3.0

In [135]:
display(pd.merge(df1,df2, on='key',how='right'))

   key    x  y
0    2  2.0  2
1    3  3.0  3
2    4  NaN  4

In [137]:
display(pd.merge(df1,df2, on='key',how='outer'))

   key    x    y
0    1  1.0  NaN
1    2  2.0  2.0
2    3  3.0  3.0
3    4  NaN  4.0

In [152]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/sports.csv')
display(df1)
print('-'*20)
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/subject.csv')
display(df2)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키
9  김중교  10      축구

--------------------

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [153]:
# 각 데이터프레임에서 서로 다른 이름을 가진행 하나씩 제거(drop 메서드 활용)
# 그 다음 데이터프레임을 병합
# how의 4가지 방법 다 써보기

df1.drop(9,axis=0, inplace=True)
df2.drop(8,axis=0, inplace=True)
display(df1)
display(df2)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
9  김중교  10      역사

In [154]:
display(pd.merge(df1,df2, on='번호',how='inner'))

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악

In [155]:
display(pd.merge(df1,df2, on='번호',how='left'))

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악
8  채관수   9      하키  NaN     NaN

In [156]:
display(pd.merge(df1,df2, on='번호',how='right'))

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악
8  NaN  10     NaN  김중교      역사

In [157]:
display(pd.merge(df1,df2, on='번호',how='outer'))

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악
8  채관수   9      하키  NaN     NaN
9  NaN  10     NaN  김중교      역사

In [158]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/sports.csv')
display(df1)
print('-'*20)
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TIS/subject.csv')
display(df2)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키
9  김중교  10      축구

--------------------

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [167]:
df2.rename({'성명':'이름'},axis=1,inplace=True)
df2

    이름  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [168]:
# 각 데이터프레임에서 서로 다른 이름을 가진행 하나씩 제거(drop 메서드 활용)
# 그 다음 데이터프레임을 병합
# how의 4가지 방법 다 써보기

df1.drop(9,axis=0, inplace=True)
df2.drop(8,axis=0, inplace=True)
display(df1)
display(df2)

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키

    이름  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
9  김중교  10      역사

In [173]:
display(pd.merge(df1,df2, on=['이름','번호'],how='inner'))

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악

In [176]:
display(pd.merge(df1,df2, on=['이름','번호'],how='left'))

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키     NaN

In [177]:
display(pd.merge(df1,df2, on=['이름','번호'],how='right'))

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  김중교  10     NaN      역사

In [175]:
display(pd.merge(df1,df2, on=['이름','번호'],how='outer'))

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키     NaN
9  김중교  10     NaN      역사